@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300&display=swap');

#app{
    font-family: 'Poppins', sans-serif;
}

#customers 
{
    font-family: 'Poppins', sans-serif;
    
    border-collapse: collapse;
    
    width: 100%;
}
  
#customers td, #customers th 
{
    border: 1px solid #ddd;
    
    padding: 8px;  
}
  
#customers tr:nth-child(even)
{
    background-color: #f2f2f2;
}
  
#customers tr:hover 
{
    background-color: #ddd;
}
  
#customers th 
{
    padding-top: 12px;
    
    padding-bottom: 12px;
    
    text-align: left;
    
    background-color: #4CAF50;  
    
    color: white;
  }